body {
  background-color: rgba(0, 0, 0, 0.813);
}

.top {
  display: flex;
  width: 100%;
  height: 250px;
  color: rgba(255, 255, 255, 0.971);
  font-size: xx-large;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-bottom: 50px;
}

.top img {
  display: flex;
  border-radius: 50px;
  gap: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 50px;
}

.userOptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.cpuPick {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  color: white;
  gap: 20px;
  height: 250px;
}

.cpuPick img {
  height: 200px;
  width: 200px;
  background-color: aliceblue;
  border-radius: 30px;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 150px;
}

.results {
  display: flex;
  width: 100%;

  height: 200px;
  color: rgba(255, 255, 255, 0.971);
  font-size: xx-large;
  font-weight: bolder;
}

.vs {
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 38px;
  font-weight: 900;
}
#rock {
  background-image: url("./images/rock.png");
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  border-radius: 30px;
}

#paper {
  background-image: url("./images/paper.png");
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  border-radius: 30px;
}

#scissors {
  background-image: url("./images/scissors.png");
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  border-radius: 30px;
}

.clicked {
  border: 2px solid red;
  transition-duration: 0.07s;
}
